@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Roboto', sans-serif;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 300ms;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}
